<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Menu Master</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div class="row">
						<div class="col-sm-12">
							<a class="addNewBtn btn btn-raised shadow-z-1 btn-primary" href="javascript:void(0)" (click)="addNewBtnAction()">Add New &nbsp;
								<i class="fa fa-plus"></i>
							</a>
							<a class="closePageBtn float-right btn btn-raised shadow-z-1 btn-danger" href="javascript:void(0)" (click)="closePageBtnAction()">Close &nbsp;
								<i class="fa fa-times"></i>
							</a>
						</div>
					</div>
					<div id="tableDiv">
						<div class="row">
							<div class="col-sm-12">
								<ngx-datatable class="ngx-datatable bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'"
								 [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable" [limit]="10">
								</ngx-datatable>
							</div>
						</div>
					</div>
					<div id="formDiv">
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title" id="basic-layout-form">Project Info</h4>
										<p class="mb-0">This is the most basic and default form having form sections. To add form section use
											<code>.form-section</code> class with any heading tags. This form has the buttons on the bottom left corner which is the default position.</p>
									</div>
									<div class="card-body">
										<div class="px-3">
											<form class="form">
												<div class="form-body">
													<h4 class="form-section">
														<i class="ft-user"></i> Personal Info</h4>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label for="projectinput1">First Name</label>
																<input type="text" id="projectinput1" class="form-control" name="fname">
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="projectinput2">Last Name</label>
																<input type="text" id="projectinput2" class="form-control" name="lname">
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label for="projectinput3">E-mail</label>
																<input type="text" id="projectinput3" class="form-control" name="email">
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="projectinput4">Contact Number</label>
																<input type="text" id="projectinput4" class="form-control" name="phone">
															</div>
														</div>
													</div>

													<h4 class="form-section">
														<i class="ft-file-text"></i> Requirements</h4>

													<div class="form-group">
														<label for="companyName">Company</label>
														<input type="text" id="companyName" class="form-control" name="company">
													</div>

													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label for="projectinput5">Interested in</label>
																<select id="projectinput5" name="interested" class="form-control">
																	<option value="none" selected="" disabled="">Interested in</option>
																	<option value="design">design</option>
																	<option value="development">development</option>
																	<option value="illustration">illustration</option>
																	<option value="branding">branding</option>
																	<option value="video">video</option>
																</select>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label for="projectinput6">Budget</label>
																<select id="projectinput6" name="budget" class="form-control">
																	<option value="0" selected="" disabled="">Budget</option>
																	<option value="less than 5000$">less than 5000$</option>
																	<option value="5000$ - 10000$">5000$ - 10000$</option>
																	<option value="10000$ - 20000$">10000$ - 20000$</option>
																	<option value="more than 20000$">more than 20000$</option>
																</select>
															</div>
														</div>
													</div>

													<div class="form-group">
														<label>Select File</label>
														<input type="file" class="form-control-file" id="projectinput8">
													</div>

													<div class="form-group">
														<label for="projectinput8">About Project</label>
														<textarea id="projectinput8" rows="5" class="form-control" name="comment"></textarea>
													</div>
												</div>

												<div class="form-actions right">

													<button type="button" class="btn btn btn-raised shadow-z-1 btn-primary" (Click)="saveFromBtnAction()">
														<i class="fa fa-check-square-o"></i> Save
													</button>
													<button type="button" class="btn btn btn-raised shadow-z-1 btn-warning mr-1" (Click)="clearFromBtnAction()">
														<i class="ft-x"></i> Clear
													</button>
													<button type="button" class="btn btn btn-raised shadow-z-1 btn-danger mr-1" (Click)="closeFromBtnAction()">
														<i class="ft-x"></i> Close
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>